*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DECLARO MAPA */

$redes: (
    twitter: #00acee,
    instagram:#3f729b,
    facebook: #3b5998,
    youtube: #c4302b
);

@each $red, $color in $redes {
    .title--#{$red} {
        background-color: $color;
        border-radius: 10%;
    }
}

@keyframes degradado {
    0%{background-color: #b2ffff;
    color:#7fffd4 ;}
    12.5%{color: black;}
    25%{background-color: $colorprincipal;
    color: black;}
    50%{background-color:#70ff8b;
    color: black;}
    75%{background-color:$colorprincipal;
    color: black;}
    87.5%{color: black;}
    100%{background-color:#b2ffff;
    color: #7fffd4;}
}

.header{
    &__navimg{
        animation-name: degradado;
        animation-duration: 25s;
        animation-iteration-count: infinite;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px;
    }

    &__redes{
        list-style: none;
        display: flex;
        margin: 0px;

            &__redsocial{
            width: 28px;
            padding: 5px;
            margin-left: 10px;
            transition: all 0.3s;

            &:hover{
                width: 31px;
            }
        }
    

        &__listapages{
            display: flex;
            justify-content: space-around;
            margin: 0px;

            &__multimedia{
                list-style: none;
                }
            }
        }
    }

.descripcion{
    animation-name: degradado;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    width: 100%;
    display: flex;
    justify-content: center;

    article{
        max-width: 800px;
    }
}

footer{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer{
    &__legal{
        width: auto;
        max-width: 800px;
        font-size: 0.6rem;
    }

    &__lectorfiscal{
        width: 100px;
    }
}

@media only screen and (max-width:768px){

    .gridimg{
        grid-template-columns: 300px 300px;
        grid-template-rows: auto 400px 400px;
        max-width: 768px;
        grid-template-areas: 
        'imagen3 imagen3'
        'imagen1 imagen5'
        'imagen4 imagen2';
        grid-gap: 5px;
      }

    .footer{
        &__legal{
            padding: 10px;
        }
        &__lectorfiscal{
            padding: 10px;
        }
    }
}

